<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="RestoreAcceptEncoding" preCondition="NeedsRestoringAcceptEncoding" enabled="true">
                    <match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
                    <action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
                    <conditions>
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(.+)" />
                    </conditions>
                </rule>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1" enabled="false">
                    <match filterByTags="None" pattern="href=(.*?)http://localhost:2368/(.*?)\s" />
                    <action type="Rewrite" value="href={R:1}https://www.homolog.meseems.com.br/blog/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(.+)" />
                    </preCondition>
                    <preCondition name="NeedsRestoringAcceptEncoding">
                        <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="^blog/(.*)" />
                    <action type="Rewrite" url="http://localhost:2368/{R:0}" appendQueryString="false" />
                    <serverVariables>
                    </serverVariables>
                </rule>
                <rule name="Jenkins" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="https://homolog.meseems.com.br/jenkins" ignoreCase="false" />
                    <action type="Redirect" url="http://homolog.meseems.com.br/8081" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="CGI Script Map" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Strawberry\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" requireAccess="Script" />
            <add name="Perl Script Map" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="C:\Strawberry\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>